*{
    background-color: blue;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    text-align: center;
}

#header{
    background-color: white;
    width: 100 vw;
    height: 15%;
    padding: 15px;
}

#header > h1{
    padding: 15px;
    background-color: white;
}


.scoreboard {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin: auto;

}

.float-child {
    width: 45%;
    border: 2px solid red;
    padding: 5px;
    align-items: center;
}

#scoreSource{
    padding: 10px;
    font-weight: bold;
    color: white;

}

#results{
    padding:20px;

}

#choices{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 75vw;
}

#imageRock{
    width: 96px;
}

#imagePaper{
    width: 96px;
}

#imageScissors{
    width: 96px;
}

p{
    padding: 20px;
}

#btn{
    font-size: 24px;
    color: black;
    background-color: white;
}
